<div class="big-baby">
				<span class="number">#{{comics.current.number}}</span>
				<span class="date">{{comics.current.date | date}}</span>
			</div>
			<ul id="menu">
				<li><a href="/" title="Homepage"><img src="img/skin/btn-home.png"/></a></li>
				<li><a href="/comic/{{comics.first.number}}" title="First comic"><img src="img/skin/btn-first.png"/></a></li>
				<?php if($prev): ?>
				<li ng-switch on="comics.previous">
					<div ng-switch-when="comics.previous.number">
						<a href="/comic/{{comics.previous.number}}" title="Previous">
							<img src="img/skin/btn-prev.png"/>
						</a>
					</div>
					<div ng-switch-default>
						<img src="img/skin/btn-prev.png"/>
					</div>
				</li>
				<li><a href="#" title="Random"><img src="img/skin/btn-random.png"/></a></li>
				<li ng-switch on="comics.next">
					<div ng-switch-when="comics.next.number">
						<a href="/comic/{{comics.next.number}}" title="Next">
							<img src="img/skin/btn-next.png"/>
						</a>
					</div>
					<div ng-switch-default>
						<img src="img/skin/btn-next.png"/>
					</div>
				</li>
				<li><a href="/comic/{{comics.last.number}}" title="Last"><img src="img/skin/btn-last.png"/></a></li>
			</ul>
			<div id="content">
				<img class="comic" src="{{comics.current.url}}" alt="{{comics.current.title}}"/>
			</div>