# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

AuthType Basic
AuthName "attention c'est secret"
AuthUserFile /web/www.baby-boredom.com/animated/.htpasswd
require valid-user