@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* fonts stacks */
/* breakpoints */
/* colors */
/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.3.4 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, No├½l Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: transparent; }

  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8); }

  .featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em; }

  .featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #fff;
    cursor: auto;
    white-space: normal; }

  .featherlight .featherlight-inner {
    display: block; }

  .featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font-family: Arial,sans-serif;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    color: #000; }

  .featherlight .featherlight-image {
    width: 100%; }

  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0; }

  .featherlight iframe {
    border: 0; } }
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent; } }
body {
  font-family: Raleway, arial;
  width: 100%; }

header {
  height: 130px;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: #fff; }
  @media screen and (max-width: 480px) {
    header {
      height: 220px; } }
  header .valign {
    height: 90px; }
    @media screen and (max-width: 480px) {
      header .valign {
        height: 180px; } }
    header .valign:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
  header .logo {
    display: inline-block;
    vertical-align: middle;
    width: 29%;
    padding-left: 1%; }
    header .logo h1 {
      font-family: "Cookie", arial;
      font-style: italic;
      font-size: 52px;
      line-height: 52px;
      display: inline-block; }
    header .logo strong {
      font-family: Raleway, arial;
      font-size: 18px;
      line-height: 18px;
      display: block;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
  header nav.menu {
    text-align: right;
    display: inline-block;
    width: 68%; }
    @media screen and (max-width: 1280px) {
      header nav.menu {
        width: 60%; } }
    @media screen and (max-width: 480px) {
      header nav.menu {
        width: 50%; } }
    header nav.menu ul {
      display: inline-block;
      vertical-align: middle; }
      header nav.menu ul li {
        display: inline-block;
        padding: 0%; }
        header nav.menu ul li a {
          color: #111;
          text-decoration: none; }
          header nav.menu ul li a:hover {
            text-decoration: underline; }
  header .filters {
    height: 40px;
    line-height: 40px;
    background: #ccc; }
    header .filters li {
      display: inline-block; }
      header .filters li a {
        height: 100%;
        display: block;
        padding: 0px 20px;
        text-decoration: none; }
        header .filters li a:hover, header .filters li a.active {
          background: #ddd; }

.projects {
  padding-top: 130px;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .projects li {
    width: 20%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0); }
    @media screen and (max-width: 1280px) {
      .projects li {
        width: calc(100%/3); } }
    @media screen and (max-width: 480px) {
      .projects li {
        width: 100%; } }
    .projects li:hover {
      z-index: 2;
      -moz-box-shadow: 0px 0px 30px 3px #222;
      -webkit-box-shadow: 0px 0px 30px 3px #222;
      -o-box-shadow: 0px 0px 30px 3px #222;
      box-shadow: 0px 0px 30px 3px #222;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .projects li a {
      display: block;
      width: 100%;
      height: 100%; }
      .projects li a:hover .mask {
        opacity: 0.7; }
      .projects li a .mask {
        background: #fff;
        opacity: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        color: #000;
        -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in; }
        .projects li a .mask .inner {
          padding: 10%; }
          .projects li a .mask .inner strong {
            display: inline-block;
            min-height: 37px; }
    .projects li img {
      width: 100%;
      display: block; }

.featherlight {
  top: 130px;
  cursor: not-allowed; }
  .featherlight:before {
    margin-right: 0px; }
  .featherlight .featherlight-content {
    padding: 0px;
    margin: 0px;
    max-height: 100%;
    height: auto;
    max-width: 50%;
    width: auto;
    vertical-align: middle;
    background: transparent;
    max-height: 100%;
    overflow: visible;
    text-align: center;
    cursor: not-allowed; }
    .featherlight .featherlight-content:before {
      height: 100%;
      display: inline-block;
      content: '';
      vertical-align: middle; }
    .featherlight .featherlight-content .featherlight-close-icon {
      right: -51px;
      line-height: 1em;
      width: 50px;
      background: transparent;
      color: #fff;
      font-size: 3em;
      position: absolute;
      display: none; }
    .featherlight .featherlight-content .featherlight-inner {
      height: auto;
      max-height: 100%;
      width: auto;
      max-width: 100%;
      cursor: zoom-in;
      vertical-align: middle;
      display: inline-block;
      background: #111; }

/*# sourceMappingURL=base.css.map */
