<div class="big-baby">
				<span class="number">#{{comics.current.number}}</span>
				<span class="date">{{comics.current.date | date}}</span>
			</div>
			<ul id="menu">
				<li><a href="/" title="Homepage"><img src="img/skin/btn-home.png"/></a></li>
				<li><a href="/comic/{{comics.first.number}}" title="First comic"><img src="img/skin/btn-first.png"/></a></li>
				<?php if($prev): ?>
				<li>
					<a href="/comic/{{comics.previous.number}}" title="Previous">
						<img src="img/skin/btn-prev.png"/>
					</a>
				</li>
				<!--<li><a href="#" title="Random"><img src="img/skin/btn-random.png"/></a></li>-->
				<li>
					<a href="/comic/{{comics.next.number}}" title="Next">
						<img src="img/skin/btn-next.png"/>
					</a>
				</li>
				<li><a href="/comic/{{comics.last.number}}" title="Last"><img src="img/skin/btn-last.png"/></a></li>
			</ul>
			<div id="content">
				<img class="comic" src="{{comics.current.file}}" alt="{{comics.current.title}}"/>
			</div>