/* fonts stacks */
$text-font: Raleway, arial;
$title-font: "Cookie", arial;

/* breakpoints */
$tablet: 1024px;
$mobile: 480px;

/* colors */
$text-black: #111;

$header-desktop-height: 130px;
$header-mobile-height: 130px;