/* =============================================================================
   RESET
========================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============================================================================
   STYLES
========================================================================== */
body {
	font-family: Impact;
}

#container {
	width: 800px;
	height: 450px;
}
#slider-container {
	border: 1px solid #000;
	width: 100%;
	font-size: 0px;
	position: relative;
}
#comic-viewport{
	
}

#comic-viewport .panel{
	display: none;
	position: relative;
}

#comic-viewport .panel.active{
	display: block;
}

#comic-prev,
#comic-next {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #eee;
	border: 1px solid #ddd;
	color: #111;
	top: 50%;
	margin-top: -25px;
	left: -40px;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
}
#comic-next {
	left: auto;
	right: -40px;
}
#comic-viewport .vignette{
	display: inline-block;
	position: absolute;
}

/* single animation */
#anim-viewport {
	position: relative;
	zoom: 0.7;
	top:0%;
}

#anim-viewport > *{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#hand {
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.relative {
	position: relative;
}

.blink {
	border: 1px solid red;
}

.blink > * > * {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
}

.blink > * > *.active {
	display: block;
}